/ - if flash[:notice]
/   %h6= flash[:notice]

.content
  .content--top
    %h2.content--top__title Blog
    / - if flash[:notice]
    /   %h6= flash[:notice]
    .content--top__box
      - if user_signed_in?
        %ul.content--top__box__menu
          %li.content--top__box__menu-1
            = link_to "新規投稿", new_message_path, method: :get
          %li.content--top__box__menu-2
            = link_to "ログアウト", destroy_user_session_path, method: :delete

      - else
        %ul.top__menu
          %li.content--top__box__menu-3
            = link_to "アカウント作成", new_user_registration_path, class: 'post'

          %li.content--top__box__menu-4
            = link_to "ログイン", new_user_session_path, class: 'post'

  .content__body
    - @messages.each do |message|
      = render partial: "one-message", locals: { message: message }


    / = paginate(@hensuiretene)


